/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-wrapper {
  min-height: 100vh;
  background: 
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("/assets/login-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}



.login-card {
  width: 100%;
  max-width: 350px;
  padding: 30px 25px;
  border-radius: 14px;
  background: white;
  /* background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px); */
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  animation: slideUp 0.8s ease;
}

.login-header {
  display: flex;
  align-items: center; 
  justify-content: center; 
  margin-bottom: 20px;
}

.login-logo {
  width: 50px;
}

.login-card h2 {
  text-align: center;
  color: #1e293b;
  font-size: 30px;
}

.form-group {
  margin-bottom: 18px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 600;
  color: #334155;
}

.password-wrapper {
  position: relative;
}

.form-group input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 10px;
  border: 1.5px solid #cbd5e1;
  font-size: 15px;
  outline: none;
}

.password-wrapper input {
  padding-right: 45px;
}

.toggle-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}
.login-btn {
  width: 100%;
  padding: 13px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(135deg, #2563eb, #4f46e5);
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
}

.login-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(37, 99, 235, 0.4);
}

.login-btn:disabled {
  background: #337ce3;
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid white;
  border-top: 3px solid transparent;
  border-radius: 50%;
  display: inline-block;
  animation: spin 1s linear infinite;
  vertical-align: middle;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


/* Animation */
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 480px) {
  .login-card {
    padding: 25px 18px;
  }

  .login-card h2 {
    font-size: 22px;
  }

  .login-btn {
    font-size: 15px;
  }
}
