<div class="login-wrapper">
  <div class="login-card">
    <div class="login-header">
      <img class="login-logo" src="assets/logo.png" alt="logo">
      <h2 class="login-title">Library Login</h2>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="form-group">
        <label>Username</label>
        <input type="text" formControlName="username" placeholder="Enter username">
      </div>

      <div class="form-group">
        <label>Password</label>
        <div class="password-wrapper">
          <input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="Enter password">
          <span class="toggle-icon" (click)="showPassword = !showPassword">
              <i [class]="showPassword ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'"></i>
          </span>
        </div>
      </div>

      <button type="submit" class="login-btn" [disabled]="loginForm.invalid || isLoading">
        <span *ngIf="!isLoading">Login</span>
        <span *ngIf="isLoading" class="spinner"></span>
      </button>
    </form>

  </div>
</div>