/* @import "~@fortawesome/fontawesome-free/css/all.min.css"; */

*{
    margin: 0;
    padding: 0;
}

/* Spiner */
.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid white;
  border-top: 3px solid transparent;
  border-radius: 50%;
  display: inline-block;
  animation: spin 1s linear infinite;
  vertical-align: middle;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}